@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css');
@import url('/css/hover.css');
@import url('/css/games.css');

* {
    font-family: 'Lato', sans-serif;
    user-select: none;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
}

body {
    color: white;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(#1a1a1a, #303133);
    background-attachment: fixed;
}

html {
    height: 100%;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(59, 47, 47);
    border: 2px solid rgb(17, 17, 17);
    border-radius: 30px;
    color: white;
}

.hidden {
    display: none;
}

i {
    margin: 10px;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

input {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: width 0.4s ease;
    margin: auto;
    margin-top: 20px;
}

input:hover {
    width: 350px;
}

button:hover {
    opacity: 0.8;
}

input:checked + .slider {
    background-color: #00c6ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00c6ff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

@keyframes colorChange {
    0%, 100% {
        color: blue;
    }
    50% {
        color: purple;
    }
}
