.navbar {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: 1.5vh;
}

.navbar > .title > img {
  width: 55px;
  border-radius: 10px;
}

.navbar > .title > span {
  font-family: 'Lato-Black', sans-serif;
  font-size: 30px;
  margin-left: 13px;
  position: relative;
  bottom: 2vh;
  color: white;
}

.navbar > .end {
  display: flex;
  justify-content: space-between;
}

.navbar > .end > a {
  margin: 0.5rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  font-size: 3vh;
  position: relative;
  color: white;
}

.navbar > .end > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: -2px;
  left: 0;
  transition: background-color 0.3s ease-in-out;
}

.navbar > .end > a:hover::after {
  background-color: white;
}